table
{
    border-collapse: collapse;
    border-color: yellow;
    text-align: center;

}
th{
    background-color: lightgray;
    color:darkblue
}
fieldset{
    margin:5px;
    width: 150;
    height: 150;
    border-style: dashed;
} 

.oddrows
{
    background-color: bisque;
   
}

.evenrows
{
    background-color: lightpink;
}