table
{
    border-collapse: collapse;
    border-color: blue;
    text-align: center;

}
table th{
    background-color: lightblue;
    color:darkred
}
/* fieldset{
    margin:5px;
    width: 150;
    height: 150;
    border-style: dashed;
} */